* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

body, html{
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  width: 1024px;
  height: 749px;
  font-size: 8px;
  text-align: left;
  line-height: 0;
  /*background: url(../img/penalty_kick.png) no-repeat left top; */
  /*background: url(../img/penalty_kick.png) no-repeat center center fixed; */
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  overflow: hidden;
}

/*-------- PUT ALL TAG SELECTORS HERE --------*/
div{  
  border: 0;
  margin: 0;
  padding: 0 0 0 0;
  /*background-color: red; */
}

button{
  margin: 0;
  border: 0;
  padding: 0;
  text-align: left;
  background: none;
  outline: none;
  display: inline-block;
}

p,
br,
img{
  margin: 0;
  border: 0;
  padding: 0;
}

video{
  -webkit-transform-style: preserve-3d;
}

#container{
  position: absolute;
  left: 0;
  top: 0;
  width: 1024px;
  height: 749px;
  z-index: 5;
  overflow: hidden;
}

#video_and_timeline_container{
  position: relative;
  left: 0;
  top: 0;
  width: 1024px;
  height: 749px;
  /*z-index: 0;*/
  overflow: hidden;
}
/*--------------------------------------------*/


/*--------------- WIDGETS MENU ---------------*/
#menu_widgets{
  width: 277px;
  /*width: 263px;*/
  height: 100%;
  position: absolute;
  left: 747px;
}

#hamburger{
  width: 42px;
  height: 100%;
  float: left;
  display: inline-block;
  vertical-align: top;
}

#menu_widgets_navbar{
  width: 235px;
  height: 42px;
  display: inline-block;
}

#menu_widgets_navbar a{
  margin: 0;
  border: 0;
  padding: 0;  
  width: 25%;
  height: 42px;
  text-align: center;
  float: left;
  display: inline-block;
  vertical-align: top;    
  background: hsla(0, 0%, 0%, 0.2);
}

#menu_widgets_navbar a.selected,
#menu_widgets_navbar a:hover{  
  background: hsla(0, 0%, 0%, 0.75);
}

#menu_widgets_content{
  width: 235px;
  height: 100%;
  display: inline-block;
  vertical-align: top;  
  background: hsla(0, 0%, 0%, 0.75);
  overflow: scroll;
}
/*--------------------------------------------*/


/*------------------ CHAT --------------------*/
#chat{
  position: absolute;
  bottom: 0;
  left: 549px;
}

/*--------------------------------------------*/



/*--------------- CAMERA MENU ----------------*/

/*--------------------------------------------*/



/*----------------- TIMELINE -----------------*/

/*--------------------------------------------*/

.draggable{
  background-color: rgba(0, 0%, 0%, 0.75);
}

/*--- Timeline ---*/

#movie{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#menu_score{
  z-index: 10;

  width: 249px;
  height: 88px;
  background: url("../img/timeline1.png") top left no-repeat;
  position: absolute;
  left: 30px;
  top: 631px;
}

#menu_timelineclosed{

  z-index: 20;

  width: 70px;
  height: 90px;
  background: url("../img/timeline7.png") top right no-repeat; 
  position: absolute;
  left: 289px;
  top: 631px; 
}
#timeline_open{

  z-index: 30;

  width: 23px;
  height: 14px;
  margin: 0 0 0 47px;
  background: url("../img/timeline6.png") top right no-repeat;   
}

#menu_timeline{

  z-index: 40;

  width: 0px;
  /*width: 645px;*/
  height: 89px;
  background: url("../img/timeline2.png") top right no-repeat; 
  position: absolute;
  left: 359px;
  top: 631px; 
}
.width{
  width: 160px;
}
#comments_open{
  
  z-index: 50;

  width: 0px;
  /*width: 160px*/
  height: 44px;
  margin: 36px 0px 0px 0px;
}
#comment_bubble{

  z-index: 60;

  position: absolute;
  left: -400px;
  top: 501px; 
  width: 108px;
  height: 181px;
/*  z-index: -1;
*/}
#replay{

  z-index: 70;

  width: 108px;
  height: 108px;
  }
