* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

body, html{
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  width: 1024px;
  height: 749px;
  font-size: 8px;
  text-align: left;
  line-height: 0;
  background: url(../img/penalty_kick.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*-------- PUT ALL TAG SELECTORS HERE --------*/
div{  
  border: 0;
  margin: 0;
  padding: 0 0 0 0;
  /*background-color: red; */
}

button{
  margin: 0;
  border: 0;
  padding: 0;
  text-align: left;
  background: none;
  outline: none;
  display: inline-block;
}

p,
br,
img{
  margin: 0;
  border: 0;
  padding: 0;
}

#container{
  width: 100%;
  height: 100%;
}
/*--------------------------------------------*/


/*-------------- BUTTON CLASSES --------------*/
.main_button{
  color: white;
  background: hsla(0, 0%, 100%, 0.5);
}

.menu_button{
  color: white;
  background: hsla(0, 0%, 0%, 0.5);
}
/*--------------------------------------------*/


/*--------------- WIDGETS MENU ---------------*/
#menu_widgets{
  width: 280px;
  /*width: 263px;*/
  height: 100%;
  position: absolute;
  right: -220px;
}

#hamburger{
  width: 42px;
  height: 100%;
  float: left;
  display: inline-block;
  vertical-align: top;
  background: hsla(0, 0%, 100%, 0.5);
}

#menu_widgets_navbar{
  width: 232px;
  height: 42px;
  display: inline-block;
}

#menu_widgets_navbar a{
  margin: 0;
  border: 0;
  padding: 0;  
  width: 25%;
  height: 42px;
  text-align: center;
  float: left;
  display: inline-block;
  vertical-align: top;    
  background: hsla(0, 0%, 0%, 0.5);
}

#menu_widgets_content{
  width: 232px;
  height: 100%;
  display: inline-block;
  vertical-align: top;  
  background: hsla(0, 0%, 0%, 0.5);
}
/*--------------------------------------------*/



/*--------------- CAMERA MENU ----------------*/

/*--------------------------------------------*/



/*----------------- TIMELINE -----------------*/

/*--------------------------------------------*/